@{
    Layout = null;
    schoolsSystems.Models.School school = (schoolsSystems.Models.School)ViewData["school"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="система государственных учреждений, система школ, школы рб, школы республики беларусь, школа, добавить школу, сайт для школы, образование, образования, добавить класс, ученики, учителя, расписание школы">
    <meta name="description" content="Сайт посвящен системе УО schoolname cityname">
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/emblema.png" type="image/x-icon">
</head>
<body id="up">
    <div id="capMain">
    <div id="cap">
        <h1 class="ah1">@Html.ActionLink("СИСТЕМА ГОСУДАРСТВЕННЫХ УЧРЕЖДЕНИЙ", "Index", "Home") @school.Name @school.City.name</h1>
    </div>
    </div>
    <div class="menu">
        <div>@Html.ActionLink("Новости", "News", "School", new { schoolId = school.Id }, new { @class = "block1", @title = "Новости связанные со школой и образованием" })</div>
        <div>@Html.ActionLink("Расписание", "TimeTable", "School", new {schoolId=school.Id }, new { @class = "block2", @title = "Расписание уроков и школьных мероприятий" })</div>
        <div>@Html.ActionLink("Учителя", "Teachers", "School", new { schoolId = school.Id }, new { @class = "block3", @title = "Список работников школы" })</div>
        <div>@Html.ActionLink("Контакты", "Contacts", "School", new { schoolId = school.Id }, new { @class = "block4", @title = "Контакты для свзи" })</div>
        <div>@Html.ActionLink("Ученики", "Pupils", "School", new { schoolId = school.Id }, new { @class = "block5", @title = "Список учеников школы" })</div>
        <div>@Html.ActionLink("Документы", "Docs", "School", new { schoolId = school.Id }, new { @class = "block6", @title = "Основная документация" })</div>
    </div>
    <h2 class="ah2">@ViewBag.BodyTitle</h2>
    <div class="left-menu"> Меню </div>
    <div class="content">@RenderBody()</div>
    <div class="adv"> Реклама </div>
    <div id="bupMain">
        <div id="bup">
            <a href="#up">Вверх</a>
        </div>
    </div>
</body>
</html>
