@model IEnumerable<schoolsSystems.Models.TimeTable>
@{
    ViewBag.Title = "Расписание";
    Layout = "~/Views/Shared/_SchoolLayout.cshtml";
}
<div class="monday">
    Понедельник @Html.ActionLink("(редактировать)", "Edit", new { schoolId=ViewBag.schoolId,schoolFormId=ViewBag.schoolFormId,dayOfWeek=1})
    @Html.Action("ListOfDay", new {timeTable=@Model,dayOfWeek=1})
</div>
<div class="tuesday">
    Вторник @Html.ActionLink("(редактировать)", "Edit", new { schoolId = ViewBag.schoolId, schoolFormId = ViewBag.schoolFormId, dayOfWeek = 2 })
    @Html.Action("ListOfDay", new { timeTable = @Model, dayOfWeek = 2 })
</div>
<div class="wednesday">
    Среда @Html.ActionLink("(редактировать)", "Edit", new { schoolId = ViewBag.schoolId, schoolFormId = ViewBag.schoolFormId, dayOfWeek = 3 })
    @Html.Action("ListOfDay", new { timeTable = @Model, dayOfWeek = 3 })
</div>
<div class="thursday">
    Четверг @Html.ActionLink("(редактировать)", "Edit", new { schoolId = ViewBag.schoolId, schoolFormId = ViewBag.schoolFormId, dayOfWeek = 4 })
    @Html.Action("ListOfDay", new { timeTable = @Model, dayOfWeek = 4 })
</div>
<div class="friday">
    Пятница @Html.ActionLink("(редактировать)", "Edit", new { schoolId = ViewBag.schoolId, schoolFormId = ViewBag.schoolFormId, dayOfWeek = 5 })
    @Html.Action("ListOfDay", new { timeTable = @Model, dayOfWeek = 5 })
</div>
<div class="saturday">
    Суббота @Html.ActionLink("(редактировать)", "Edit", new { schoolId = ViewBag.schoolId, schoolFormId = ViewBag.schoolFormId, dayOfWeek = 6 })
    @Html.Action("ListOfDay", new { timeTable = @Model, dayOfWeek = 6 })
</div>
